<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{appName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share-social"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="shareRepoUsingEmail()"
        ><ion-icon name="mail"></ion-icon
      ></ion-fab-button>
      <ion-fab-button (click)="shareViaWhatsApp()">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="shareViaInstagram()">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="shareViaFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="shareViaTwitter()">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{appName}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    placeholder="Search Pokemon"
    (ionChange)="handleSearchReq($event)"
  ></ion-searchbar>
  <ion-list *ngIf="pokemon.length == 0">
    <ion-item *ngFor="let i of [1,2,3,4,5]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item *ngFor="let mon of pokemon;" [routerLink]="mon.pokeIndex">
      <ion-avatar slot="start">
        <img [src]="mon.image" class="mon__image" />
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>{{ mon.name }}</h2>
        <p>#{{ mon.pokeIndex }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadPokemon(true, $event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more Pokemon..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
